/* regole generali --------------------------------------------*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  letter-spacing: .5px;
}
body{
  background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100% );
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
span{
  display: inline-block;
  cursor: pointer;
}
main{
  width: 80%;
  height: 94%;
  display: flex;
  border: 1px solid #B1B1B1;
}
/* nome dei contatti -------------------------------------------------*/
#left{
  width: 35%;
  height: 100%;
  border-right: 1px solid #B1B1B1;
}
.utenteInfo{
  display: flex;
  justify-content: space-between;
  background-color: #EAEAEA;
  height: 70px;
  width: 100%;
  align-items: center;
}
.utenteLogo{
  width: auto;
  margin-left: 10px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.utenteLogo img{
  width: auto;
  height: 60px;
  border-radius: 50%;
}
.utenteIcons span{
  font-size: 25px;
  color: #B1B1B1;
  margin-right: 20px;
}

/* intestazione dell'utente con logo, icone, notifiche, ricerca ------*/
.utente{
  width: 100%;
  height: 20%;
}
/* notifiche -----------------------------*/
.notifiche{
  display: flex;
  width: 100%;
  background-color: #8EDAFC;
  height: 60%;
  align-items: center;
}
.notificheIcon{
  width: 13%;
  margin-left: 10px;
}
.fa-bell-slash{
  font-size: 25px;
  background-color: white;
  border-radius: 50%;
  padding: 20%;
  color: #8EDAFC;
}
.notificheTesto{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
}
.notificheTesto h3{
  font-size: 16px;
  padding-bottom: 3px;
}
.notificheTesto h4{
  font-size: 14px;
  color: #507688;
  text-decoration: underline;
}
.ricerca{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  background-color: #FAFAFA;
}
.ricerca input{
  height: 60%;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 10px;
  font-weight: lighter;
  width: 83%;
  padding-left: 10px;
  margin-right: 10px;
}
.ricerca label{
  width: 15%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  background-color: white;
  margin-left: 10px;
  height: 60%;
  display: flex;
  align-items: center;
}
.fa-search{
  color: #B1B1B1;
  width: 100%;
}
/* informazioni dei contatti con anteprima msg ------------*/
.contattiMsg{
  width: 100%;
  height: calc(80% - 70px);
  overflow: auto;
  background: white;
}
.contattiMsg ul li{
  display: flex;
  border-bottom: 1px solid #FAFAFA;
  padding: 10px;
}
.contattiMsg ul li:hover{
  background-color: #F4F5F5;
  cursor: pointer;
}
.contattoAnteprimaActive{
  background-color: #E9EBEB;
}
.foto{
  display: flex;
}
.foto img{
  width: 15%;
  border-radius: 50%;
}
.accesso{
  align-self: center;
  font-weight: lighter;
  font-size: 14px;
  color: #B6B9BB;
}
.nomeAnteprima{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.nomeAnteprima h3{
  font-weight:  500;
  margin-bottom: 10px;
}
.nomeAnteprima h4{
  font-weight: lighter;
  font-size: 14px;
  color: #B6B9BB;
}
/* conversazioni --------------------------------------*/
.right{
  width: 65%;
  height: calc(100% - 70px);
  display: none;
}
/* informazioni del contatto selezionato ---------------------*/
.contattoInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EAEAEA;
  height: 70px;
}
.contattoSelezionato{
  display: flex;
  justify-content: space-around;
}
.contattoSelezionatoFoto{
  width: 15%;
  margin-left: 10px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contattoSelezionatoFoto img{
  width: auto;
  height: 60px;
  border-radius: 50%;
  margin-left: 15px;
}
.nomeAccesso{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}
.nomeAccesso h3{
  font-weight:  500;
  margin-bottom: 10px;
}
.default{
  font-weight: lighter;
  font-size: 14px;
  color: #7C8386;
  display: none;
  width: 100%;
}
.show{
  display: block;
}
.contattoSelezionatoIcons span{
  font-size: 25px;
  color: #B1B1B1;
  margin-right: 20px;
}

/* conversazione ------------------------------*/
.conversazione{
  background-image: url(../img/sfondoConversazione.jpg);
  width: 100%;
  height: calc(100% - 70px);
  overflow: auto;
}

.msgRicevuti{
  display: flex;
  margin-left: 40px;
  position: relative;
}
.msgInviati{
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  position: relative;
}
.infoMsgInviati{
  position: absolute;
  bottom: -100px;
  right: 0;
}
.infoMsgRicevuti{
  position: absolute;
  bottom: -100px;
  left: 0;
}

.infoMsg{
  display: flex;
  flex-direction: column;
  background: white;
  width: 150px;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.75);
  border-radius: 2px;
}
.infoMsgHide{
  display: none;
}
.msgRicevutiTesto{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  max-width: 90%;
  display: flex;
  position: relative;
}
.msgInviatiTesto{
  background-color: #D5F9BA;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  max-width: 90%;
  display: flex;
  position: relative;
}
.opzioniMsg{
  display: none;
}
.msgInviatiTesto:hover .opzioniMsg,
.msgRicevutiTesto:hover .opzioniMsg{
  display: block;
  margin-left: 5px;
  font-weight: lighter;
  font-size: 14px;
  color: #B6B9BB;
}
.msgInviatiTesto .ora,
.msgRicevutiTesto .ora{
  position: absolute;
  bottom: 2px;
  right: 5px;
  font-weight: lighter;
  font-size: 12px;
  color: #7C8386;
}
/* msg da inviare ---------------------------------*/
.invio{
  height: 70px;
  background-color: #EAEAEA;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: none;
}
.rightActive{
  display: block;
}
.invioShow{
  display: flex;
}

.invio input{
  width: 80%;
  height: 70%;
  font-size: 13px;
  font-weight: lighter;
  padding-left: 20px;
  border: none;
  border-radius: 5px;
}
.smile,
.microfono,
.invioIcon{
  font-size: 25px;
  color: #6B7376;
}
.invioIcon{
  display: none;
}
